.main h3 {
  cursor: pointer;
}
.main {
  min-height: 100vh;
  padding: 1rem 0;
}
.form_ele {
  margin: 1rem 0;
}
.form_control {
  margin-top: 10px;
  font-size: 18px;
  padding: 4px;
}
.ERR_container {
  color: red;
}
.btn {
  color: #fff;
  background-color: #211e1e;
  padding: 0.6rem 1rem;
  border-radius: 0.4rem;
  cursor: pointer;
}
.btn:hover {
  color: #211e1e;
  background-color: #fff;
}
