.main h3 {
  cursor: pointer;
}
.main {
  min-height: 100vh;
  padding: 1rem 0;
}
.form_ele {
  margin: 1rem 0;
}
.form_control {
  margin-top: 10px;
  font-size: 18px;
  padding: 4px;
}
.ERR_container {
  color: red;
}
.btn {
  color: #fff;
  background-color: #404040;
  padding: 0.8rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: none;
}
.btn:hover {
  color: #404040;
  background-color: #fff;
  border: 2px solid #404040;
}
